.card {
  display: flex;
}
p {
  padding: 10px;
  margin: 0;
}
.number {
  width: 60px;
}
.title {
  width: 130px;
}
.content {
  width: 230px;
}

.descript {
  width: 200px;
}
.top {
  text-align: center;
  background-color: antiquewhite;
  padding: 0;
}
.top p,
.login_top p {
  border-right: solid 1px white;
  line-height: 40px;
}
/* 7번 문제 */
.info_box,
.login_top {
  display: flex;
}

.info_box p {
  line-height: 40px;
}
.click {
  width: 110px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.login_top {
  text-align: center;
  background-color: antiquewhite;
  padding: 0;
}
.login_top .email {
  width: 134px;
}

.login_top .name {
  width: 80px;
}
.numbSeven {
  width: 556px;
}

.term_top {
  display: flex;
}
.info_box {
  display: flex;
  align-items: center;
}
